<main>
    <!-- <app-assignment2 /> -->
     <!-- <app-assignment3 /> -->
      <!-- <app-mymodel></app-mymodel> -->
       <!-- <app-assignment4></app-assignment4> -->
        <!-- <app-pipe-demo></app-pipe-demo> -->
         <!-- <app-pipes-assginment></app-pipes-assginment>-->
         <!-- <app-parentdemo></app-parentdemo> -->
          <app-formdemo1></app-formdemo1>
          <app-template-form-demo1></app-template-form-demo1>
          <app-modeldriven-form></app-modeldriven-form>
</main>