
<br />
<button
  (click)="onForm()"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  class="btn btn-success btn-lg"
>
  Add Employee
</button>
<app-mymodel>
  @if(Added){
  <form #empForm="ngForm" (ngSubmit)="onAddEmployee(empForm)">
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input
        type="text"
        name="name"
        [(ngModel)]="newEmp.name"
        class="form-control"
        placeholder="Enter name"
        required
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Role</label>
      <select name="role" [(ngModel)]="newEmp.role" class="form-select" required>
        <option value="">-- Select Role --</option>
        <option>Tester</option>
        <option>HR</option>
        <option>Developer</option>
        <option>QA</option>
        <option>Manager</option>
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label">Salary</label>
      <input
        type="number"
        name="salary"
        [(ngModel)]="newEmp.salary"
        class="form-control"
        placeholder="Enter salary"
        required
        min="1"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Status</label>
      <select name="status" [(ngModel)]="newEmp.status" class="form-select" required>
        <option value="">-- Select Status --</option>
        <option>Inactive</option>
        <option>Active</option>
      </select>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
    </div>
  </form>

  }@else{
  <dl class="row">
    <dt class="col-sm-4">ID</dt>
    <dd class="col-sm-8">{{ selectedEmp?.id }}</dd>

    <dt class="col-sm-4">Name</dt>
    <dd class="col-sm-8">{{ selectedEmp?.name }}</dd>

    <dt class="col-sm-4">Role</dt>
    <dd class="col-sm-8">{{ selectedEmp?.role }}</dd>

    <dt class="col-sm-4">Salary</dt>
    <dd class="col-sm-8">{{ selectedEmp?.salary }}</dd>

    <dt class="col-sm-4">Status</dt>
    <dd class="col-sm-8">{{ selectedEmp?.status }}</dd>
  </dl>

  }
</app-mymodel>

<div class="container mt-4">
  <table class="table table-striped table-hover table-bordered text-center align-middle">
    <thead class="table-primary">
      <tr>
        <th>emp id</th>
        <th>emp name</th>
        <th>role</th>
        <th>salary</th>
        <th>status</th>
        <th>Delete Action</th>
        <th>View Action</th>
      </tr>
    </thead>
    <tbody>
      @for(emp of copyEmployees; track $index){
      <tr>
        <td>{{ emp.id }}</td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.role }}</td>
        <td>{{ emp.salary }}</td>
        <td>{{ emp.status }}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="onClickDelete(emp.id)" type="button">
            <fa-icon [icon]="faDeleteLeft"></fa-icon>
          </button>
        </td>
        <td>
          <button
            class="btn btn-info btn-sm"
            (click)="onClickView(emp.id)"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            <fa-icon [icon]="faView"></fa-icon>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
<br />
